SCAFFOLD_TEMP_CONFIG_MOD="ModNameGoesHere"
SCAFFOLD_TEMP_CONFIG_GAME="GameNameGoesHere"
SCAFFOLD_TEMP_CONFIG_DEPENDENCIES="Comma,Separated,Values,Go,Here"
SCAFFOLD_TEMP_CONFIG_EXCLUSIONPATTERN="PatternGoesHere"